body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #dbeafe 0%,
    #eff6ff 50%,
    #f8fafc 100%
  );

  min-height: 100vh;
}

.app {
  text-align: center;
  margin-top: 50px;

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  padding: 30px;
}

h1 {
  color: #1e3a8a;
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  color: #64748b;
  font-size: 18px;
}

input {
  padding: 12px;
  width: 260px;

  border: none;
  border-radius: 12px;

  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  outline: none;
  font-size: 15px;
}

input:focus {
  box-shadow: 0 0 0 3px rgba(30, 58, 138, 0.2);
}

select {
  padding: 12px;
  height: 45px;
  width: 140px;

  border: none;
  border-radius: 12px;

  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  margin-left: 10px;
  font-size: 15px;
}

button {
  padding: 12px 18px;
  margin-left: 10px;
  .ai-button {
    margin-left: 0 !important;
  }

  background: #1e3a8a;
  color: white;

  border: none;
  border-radius: 12px;

  cursor: pointer;
  font-weight: bold;

  transition: all 0.3s ease;
}

button:hover {
  background: #162a66;
  transform: translateY(-2px);
}

.stats-card {
  transition: all 0.3s ease;
  background: white;
}

.stats-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}
.task-input-container {
  position: relative;
  display: inline-block;
}

.task-input-container input {
  width: 320px;
  padding-right: 110px;
}

.ai-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);

  background: white;
  color: #2563eb;

  border: none;
  border-radius: 12px;

  padding: 8px 12px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  font-weight: 600;
  cursor: pointer;
}
.ai-panel {
  width: 240px;
  background: white;
  border-radius: 16px;
  padding: 18px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  text-align: left;
}

.ai-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #1e40af;
  font-weight: 700;
  font-size: 18px;
}

.ai-header span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.close-btn {
  background: transparent;
  border: none;
  color: #6b7280;
  font-size: 18px;
  cursor: pointer;

  padding: 0;
  margin: 0;
}

.close-btn:hover {
  color: #111827;
}

.ai-panel hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 15px 0;
}

.ai-panel h3 {
  font-size: 15px;
  color: #9ca3af;
  margin-bottom: 12px;
}

.priority-text {
  font-size: 24px;
  font-weight: bold;
  color: #ef4444;

  margin-bottom: 18px;
}

.ai-panel h4 {
  color: #1e40af;
  margin-bottom: 10px;
}

.ai-panel p {
  color: #374151;
  line-height: 1.6;
  font-size: 15px;
}